@model UserViewModels

@{
    ViewBag.Title = "Title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Users</h3>
            <hr />
            <form method="post" id="friendform" asp-action="Index" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Cities Telereki Kendo UI</label>
                    @(Html.Kendo().DropDownList().Name("CityId").
                             BindTo(new SelectList(Model.Cities, "Id", "Name"))
                             .Value("0").HtmlAttributes(new { style = "width: 100%" }))
                </div>
                <div class="form-group">
                    <label asp-for="UserFulName"></label>
                    <input type="text" asp-for="UserFulName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="UserBirthDate"></label>
                    @(Html.Kendo().DatePicker().Name("UserBirthDate").Value("10/10/2011").HtmlAttributes(new { style = "width: 100%", title = "UserBirthDate" }))
                </div>

                <div class="form-group">
                    <label asp-for="HomeNumber"></label>
                    @(Html.Kendo().NumericTextBox<int>().Name("HomeNumber").Min(0).Max(100).HtmlAttributes(new { style = "width: 100%", title = "HomeNumber" }))
                </div>
                <div class="form-group row">
                    <label asp-for="Photo" class="col-sm-6 col-form-label"></label>
                    <div class="col-sm-12">
                        <div class="custom-file">
                            <input asp-for="Photo" class="form-control custom-file-input" />
                            <label class="custom-file-label">Choos File...</label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-12 col-form-label">Kendo UI DropDown with multiple select</label>
                        <div class="col-sm-12">
                            @(Html.Kendo().MultiSelect()
        .Name("multiselect")
        .DataTextField("Name")
        .DataValueField("Id")
        .Value(new[] { 2, 7 })
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("Products_Read", "Users");
            })
            .ServerFiltering(true);
        })
    )
                        </div>

                    </div>
                </div>






                @*<button class="btn btn-success" type="submit">Submit</button>*@
                @*<input id="btnsubmit" type="reset" class="btn btn-success" value="Submit" />*@
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    });
</script>
<script type="text/javascript">
    $("form").submit(function (evt) {
        evt.preventDefault();
        debugger
        var formData = new FormData($(this)[0]);
        $.ajax({
            type: 'POST',
            url: "/Users/Index",
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
                alert("oy are done");
            }
        });
        return false;
    });
</script>
