@model Review
@{
    Layout = "~/Views/Shared/_LayoutReview.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Add New Review</h3>
            <hr />
            <form asp-action="AddNewReview" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Category"></label>
                    <select class="form-control" asp-for="Category.Id" asp-items="@(new SelectList(ViewBag.allCategories,"Id","Name"))">
                        <option value="0">Select Category</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" type="text" class="form-control" id="txtName" aria-describedby="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="5" cols="40"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="row col-md">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
