@model Review
@{
    Layout = "~/Views/Shared/_LayoutReview.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Delete Page</h3>
            <hr />
            <label style="font-size:30px">Do wou want delete this inscription ?</label>
            <form asp-action="Delete" method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" type="text" class="form-control" id="txtName" aria-describedby="Name" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="5" cols="40" readonly></textarea>
                </div>
                <div class="form-group">
                    <div class="row col-md">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

