@model Review

@{
    Layout = "~/Views/Shared/_LayoutReview.cshtml";

}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Details</h3>
            <hr />
            <form asp-action="Details" method="get">
                <div class="form-group">
                    <label>Category Name</label>
                    <input asp-for="Category.Name" type="text" class="form-control" id="txtCategoryName" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" type="text" class="form-control" id="txtName" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="5" cols="40" readonly></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="btn btn-block text-sm-left">
            <a href="/Review/AddNewReview" class="btn btn-primary">New Review</a>
            <a href="/Review/Index" class="btn btn-primary">Start</a>
        </div>
    </div>
</div>
