@model IEnumerable<Review>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<script src="~/lib/bootstrap/js/site.js"></script>
<div class="container">
    <h1>Index</h1>

    <div id="PlaceHolderHere"></div>

    <div>
        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addReview" data-url="@Url.Action("Create")">Create</button>
    </div>
    <hr />
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridReview")
        .Columns(columns =>
        {
            columns.Bound(p => p.Id).Title("Id");
            columns.Bound(p => p.Name).Title("Name");
            columns.Bound(p => p.Category).Title("Category");
            columns.Bound(p => p.Description).Title("Description");
        })
        .Pageable()
        .Sortable()
        .Scrollable(scr=>scr.Height(430))
        .Filterable()
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
     )
)

    </div>
</div>


