@model IEnumerable<Review>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Index</h3>
            <hr />
            @(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Name).Title("Name");
            columns.Bound(p => p.Description).Title("Description");
            columns.Bound(p => p.CategoryName).Title("Category Name");
            columns.Bound(p => p.Id).ClientTemplate("<a href='" + Url.Action("Details", "Review") + "/#= Id #'" + "><div class='btn btn-primary'>Details</div></a>").Width(100).Title("Details");
            columns.Bound(p => p.Id).ClientTemplate("<a href='" + Url.Action("Edit", "Review") + "/#= Id #'" + "><div class='btn btn-warning'>Edit</div></a>").Width(90).Title("Edit");
            columns.Bound(p => p.Id).ClientTemplate("<a href='" + Url.Action("Delete", "Review") + "/#= Id #'" + "><div class='btn btn-danger'>Delete</div></a>").Width(100).Title("Delete");
        })
        .HtmlAttributes(new { style = "height: 600px;" })
        .Pageable( pageable => pageable
        .Input(true)
        .Numeric(false)
     )
        .Scrollable(scr=>scr.Height(430))
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
     )
)
        </div>
    </div>
    <div class="row">
        <div class="btn btn-block text-sm-left">
            <a href="/Review/AddNewReview" class="btn btn-primary">New Review</a>

        </div>
    </div>
</div>


