@model IEnumerable<Review>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h1>Index</h1>

    <hr />

        @(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Id).Title("Id");
            columns.Bound(p => p.Name).Title("Name");
            columns.Bound(p => p.Description).Title("Description");
        })
        .HtmlAttributes(new { style = "height: 600px;" })
        .Pageable( pageable => pageable
        .Input(true)
        .Numeric(false)
     )
        .Sortable()
        .Scrollable(scr=>scr.Height(430))
        .Filterable()
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
     )
)


</div>


