@model Review


<h1>Details Page</h1>


<form>




    <table>
        <tr>
            <td>
                <label asp-for="Id"></label>
            </td>
            <td>
                <input asp-for="Id" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Name"></label>
            </td>
            <td>
                <input asp-for="Name" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Category"></label>
            </td>
            <td>
                <input asp-for="Category" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Description"></label>
            </td>
            <td>
                <input asp-for="Description" />
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>

</form>

<input />